# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.so
.venv/
*.egg-info/

# ======================
# Environment & Secrets
# ======================
.env
.env.*
!.env.example

# ======================
# Databases & Data
# ======================
*.db
data/

# ======================
# Frontend
# ======================
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
node_modules/

# ======================
# OS
# ======================
.DS_Store
