# backend/requirements.txt

# API
anthropic
bcrypt>=4.0.1
fastapi
instructor
lancedb
langchain_anthropic
langchain_core
langgraph
mcp
minio
pandas
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
sqlmodel
tzdata
uvicorn

# ML / Processing
beautifulsoup4
ijson
numpy
tantivy
transformers